In [2]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv("all_seasons.csv")
data.head()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Dennis Rodman,CHI,36.0,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,...,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97
1,1,Dwayne Schintzius,LAC,28.0,215.90,117.933920,Florida,USA,1990,1,...,2.3,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996-97
2,2,Earl Cureton,TOR,39.0,205.74,95.254320,Detroit Mercy,USA,1979,3,...,0.8,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996-97
3,3,Ed O'Bannon,DAL,24.0,203.20,100.697424,UCLA,USA,1995,1,...,3.7,2.3,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996-97
4,4,Ed Pinckney,MIA,34.0,205.74,108.862080,Villanova,USA,1985,1,...,2.4,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996-97

In [11]:
print(df[['player_name','player_weight','player_height']])
dataFrameOfSize= df[['player_name','player_weight','player_height']] 
print(dataFrameOfSize)

              player_name  player_weight  player_height
0           Dennis Rodman      99.790240         198.12
1       Dwayne Schintzius     117.933920         215.90
2            Earl Cureton      95.254320         205.74
3             Ed O'Bannon     100.697424         203.20
4             Ed Pinckney     108.862080         205.74
...                   ...            ...            ...
11140         Maxi Kleber     108.862080         208.28
11141  Melvin Frazier Jr.      97.522280         195.58
11142      Meyers Leonard     117.933920         213.36
11143        Norvel Pelle     104.779752         208.28
11144         Matt Thomas      86.182480         193.04

[11145 rows x 3 columns]
              player_name  player_weight  player_height
0           Dennis Rodman      99.790240         198.12
1       Dwayne Schintzius     117.933920         215.90
2            Earl Cureton      95.254320         205.74
3             Ed O'Bannon     100.697424         203.20
4             Ed Pinckney     108.862080         205.74
...                   ...            ...            ...
11140         Maxi Kleber     108.862080         208.28
11141  Melvin Frazier Jr.      97.522280         195.58
11142      Meyers Leonard     117.933920         213.36
11143        Norvel Pelle     104.779752         208.28
11144         Matt Thomas      86.182480         193.04

[11145 rows x 3 columns]

In [12]:
dataFrameOfSize.shape

(11145, 3)

In [20]:
totalWeightOfNbaPlayers = dataFrameOfSize['player_weight'].sum()
print("Total summation of weight all Players in the NBA is", totalWeightOfNbaPlayers)
averageNbaPlayerWeight = totalWeightOfNbaPlayers/11146
print("Average Weight of NBA Player is",averageNbaPlayerWeight)

Total summation of all Players in the NBA is 1121609.0360559998
Average Weight of NBA Player is 100.62883869154852

In [22]:
totalHeightOfNbaPlayers = dataFrameOfSize['player_height'].sum()
print("Total summation of height all Players in the NBA is", totalHeightOfNbaPlayers)
averageNbaPlayerHeight = totalHeightOfNbaPlayers/11146
print("Average Height of NBA Player is",averageNbaPlayerHeight,"centimeter")

Total summation of height all Players in the NBA is 2238058.86
Average Height of NBA Player is 200.79480172259105 centimeter

In [24]:
arrayMultipleOfEleven = np.array([[[11,22,33,44,55,66,77,88,99]]])
print(arrayMultipleOfEleven)
print(type(arrayMultipleOfEleven))
print(arrayMultipleOfEleven.ndim)

[[[11 22 33 44 55 66 77 88 99]]]
<class 'numpy.ndarray'>
3

array([[99]])

In [73]:
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
df1 = pd.DataFrame(dict)
df1.notnull()

   First Score  Second Score  Third Score
0         True          True        False
1         True          True         True
2        False          True         True
3         True         False         True